<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <h1>Ninja list</h1>
    <ul>
      <li>
        <h1> Master Ninja!</h1>
        <p>Im the master Ninja</p>
      </li>
      <li>
        <h1>Fun Ninja!</h1>
        <p>Im an funny Ninja</p>
      </li>
      <li>
        <h1>Silly Ninja!</h1>
        <p>Im an silly Ninja</p>
      </li>
      <li>
        <h1>Smart Ninja!</h1>
        <p>Im an Smart Ninja</p>
      </li>
    </ul>

  </body>
</html>
